# Dependencies
node_modules/

# Build artifacts and outputs
dist/
build/
*.tsbuildinfo

# Editor/IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
